@model NuGetUsage.ViewModels.StatsViewModel
           

<div class="panel panel-default">
    <div class="panel-heading">System stats</div>
    <div class="panel-body">
        @Model.ReposCount Repositories<br />
        @Model.PackagesCount Packages
    </div>
</div>
